@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Site keywords here">
    <meta name="description" content="">
    <meta name='copyright' content=''>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title> CappyPop - Admin Dashboard </title>

    <!-- Favicon -->
    <link rel="icon" href="/img/favicon.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Paytone+One&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/css/nice-select.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- icofont CSS -->
    <link rel="stylesheet" href="/css/icofont.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="/css/slicknav.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/css/owl-carousel.css">
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="/css/datepicker.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <!-- General CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/bobacard.css">
    <link rel="stylesheet" href="/css/admin.css">


</head>
<body>

    <!-- Start Admin Dashbroad -->
    <section class="admin-dashbroad section">
        <div class="container">
            <div class="row">

                <!-- Start Sidemenu -->
                <div class="col-lg-3">

                    <div class="sidebar">
                        <div class="logo-details">
                            <img src="img/favicon.png" alt="logo">

                            <span class="logo_name">Cappy<span2>Pop</span2></span>
                        </div>
                        <ul class="nav-links">
                            <li>
                                <a href="admin-dashbroad.html">
                                    <i class="icofont-ui-home"></i>
                                    <span class="link_name">Dashboard</span>
                                </a>

                            </li>

                            <li>
                                <a href="admin-profile.html">
                                    <i class="icofont-user-suited"></i>
                                    <span class="link_name">My Profile</span>
                                </a>
                            </li>

                            <li>
                                <div class="iocn-link">
                                    <a href="admin-editboba.html">
                                        <i class="icofont-coconut-water"></i>
                                        <span class="link_name">Boba Manage</span>
                                    </a>
                                    <i class="icofont-rounded-down arrow"></i>
                                </div>
                                <ul class="sub-menu">
                                    <li><a class="link_name" href="#">Boba Manage</a></li>
                                    <li><a href="admin-addboba.html">Add new Boba</a></li>
                                    <li><a href="admin-editboba.html">Edit Boba</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="iocn-link">
                                    <a href="admin-edit-article.html">
                                        <i class="icofont-book-alt"></i>
                                        <span class="link_name">Blogs & Articles</span>
                                    </a>
                                    <i class="icofont-rounded-down arrow"></i>
                                </div>
                                <ul class="sub-menu">
                                    <li><a class="link_name" href="#">Blogs & Articles</a></li>
                                    <li><a href="admin-add-article.html">Add new Article</a></li>
                                    <li><a href="admin-edit-article.html">Edit Article</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="admin-notification.html">
                                    <i class="icofont-notification"></i>
                                    <span class="link_name">Notifications</span>
                                </a>
                            </li>

                            <li>
                                <div class="profile-details">
                                    <div class="profile-content">
                                        <img src="img/admin-avatar.png" alt="profileImg">
                                    </div>
                                    <div class="name-job">
                                        <div class="profile_name">Administer</div>
                                        <div class="job">Group 9</div>
                                    </div>
                                    <a href="index.html"><i class="icofont-logout"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Sidemenu -->
                <!-- Start Main Content -->
                <div class="col-lg-9">
                    <section class="home-section">

                        <div class="home-title">
                            <h1>My Dashbroad</h1>
                        </div>

                        <!-- Start Dashbroad Info Cards -->
                        <section class="dashbroad-card">
                            <div class="container">
                                <div class="row align-items-center">
                                    <!-- single-info-card -->
                                    <div class="col-lg-4 col-12 ">
                                        <div class="single-card">

                                            <div class="content">
                                                <h4>Total Order</h4>
                                                <h3>405</h3>
                                            </div>
                                            <i class="icofont-papers"></i>

                                        </div>
                                    </div>
                                    <!--/End single-info-card -->
                                    <!-- single-info-card -->
                                    <div class="col-lg-4 col-12 ">
                                        <div class="single-card">

                                            <div class="content">
                                                <h4>Total Sale</h4>
                                                <h3>400.000đ</h3>
                                            </div>
                                            <i class="icofont-money"></i>

                                        </div>
                                    </div>
                                    <!--/End single-info-card -->
                                    <!-- single-info-card -->
                                    <div class="col-lg-4 col-12 ">
                                        <div class="single-card">

                                            <div class="content">
                                                <h4>Notifications</h4>
                                                <h3>26</h3>
                                            </div>
                                            <i class="icofont-notification"></i>

                                        </div>
                                    </div>
                                    <!--/End single-info-card -->
                                </div>

                            </div>
                        </section>
                        <!--/ End Dashbroad Info Cards -->

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="home-title">
                                    <h1>Product Manage</h1>
                                </div>
                            </div>
                            <div class="col-lg-4" style="transform: translateY(26px);">
                                <div class="search">
                                    <input type="text" class="input" placeholder="Search Boba" onmouseout="this.value =''; this.blur();">
                                    <a class="button" type="submit"><i class="icofont-search-2"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- Start Boba Edit Listing -->
                        <section class="boba-edit-list">
                            <div class="container">
                                <div class="row">


                                    <!-- Start Single Edit Listing -->
                                    <div class="col-lg-12">
                                        <div class="single-edit-list">
                                            <div class="row align-items-center">
                                                <div class="col-lg-3">
                                                    <img class="product-image" src="img/boba-img/boba.png">
                                                </div>
                                                <div class="col-lg-6">
                                                    <h5>Mint Boba</h5>
                                                    <h6>39.000đ</h6>
                                                    <p>Ideal for chocolate lovers, our Cacao Bubble Tea is a must-try for anyone looking for a luxurious boba experience. Order now and taste the best chocolate boba tea in town.</p>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="button">
                                                        <a href="" class="btn">Edit Boba</a>
                                                        <a href="" class="btn primary">Delete Boba</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Edit Listing -->
                                    <!-- Start Single Edit Listing -->
                                    <div class="col-lg-12">
                                        <div class="single-edit-list">
                                            <div class="row align-items-center">
                                                <div class="col-lg-3">
                                                    <img class="product-image" src="img/boba-img/boba.png">
                                                </div>
                                                <div class="col-lg-6">
                                                    <h5>Mint Boba</h5>
                                                    <h6>39.000đ</h6>
                                                    <p>Ideal for chocolate lovers, our Cacao Bubble Tea is a must-try for anyone looking for a luxurious boba experience. Order now and taste the best chocolate boba tea in town.</p>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="button">
                                                        <a href="" class="btn">Edit Boba</a>
                                                        <a href="" class="btn primary">Delete Boba</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Edit Listing -->
                                    <!-- Start Single Edit Listing -->
                                    <div class="col-lg-12">
                                        <div class="single-edit-list">
                                            <div class="row align-items-center">
                                                <div class="col-lg-3">
                                                    <img class="product-image" src="img/boba-img/boba.png">
                                                </div>
                                                <div class="col-lg-6">
                                                    <h5>Mint Boba</h5>
                                                    <h6>39.000đ</h6>
                                                    <p>Ideal for chocolate lovers, our Cacao Bubble Tea is a must-try for anyone looking for a luxurious boba experience. Order now and taste the best chocolate boba tea in town.</p>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="button">
                                                        <a href="" class="btn">Edit Boba</a>
                                                        <a href="" class="btn primary">Delete Boba</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Edit Listing -->



                                </div>
                            </div>

                        </section>
                        <!-- End Boba Edit Listing -->


                    </section>
                </div>

            </div>
        </div>
    </section>
    <!-- End Admin Dashbroad -->

    <script src="js/admin-script.js"></script>

</body>
</html>
