@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Start User Profile -->
<section class="user-account section">
    <div class="container">
        <div class="row">

            <!-- Start Sidemenu -->
            <div class="col-lg-3">

                <div class="user-sidebar">

                    <ul class="nav-links">

                        <li>
                            <div class="profile-details">
                                <div class="profile-content">
                                    <img src="img/admin-avatar.png" alt="profileImg">
                                </div>
                                <div class="name-job">
                                    <div class="profile_name">User's Account</div>
                                    <div class="job">Group 9</div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a href="index.html">
                                <i class="icofont-ui-home"></i>
                                <span class="link_name">Back to Home</span>
                            </a>

                        </li>

                        <li>
                            <a href="user-profile.html">
                                <i class="icofont-user-suited"></i>
                                <span class="link_name">My Profile</span>
                            </a>
                        </li>

                        <li>
                            <div class="iocn-link">
                                <a href="user-mycart.html">
                                    <i class="icofont-coconut-water"></i>
                                    <span class="link_name">My Order</span>
                                </a>
                                <i class="icofont-rounded-down arrow"></i>
                            </div>
                            <ul class="sub-menu">
                                <li><a class="link_name" href="user-mycart.html">My Order</a></li>
                                <li><a href="user-mycart.html">My Cart</a></li>
                                <li><a href="user-checkout.html">Checkout</a></li>
                                <li><a href="use-order-history.html">Order History</a></li>
                            </ul>
                        </li>


                        <li>
                            <a href="user-delivery-address.html">
                                <i class="icofont-location-pin"></i>
                                <span class="link_name">Delivery Address</span>
                            </a>
                        </li>

                        <li>
                            <a href="user-notification.html">
                                <i class="icofont-notification"></i>
                                <span class="link_name">Notifications</span>
                            </a>
                        </li>

                        <div class="button">
                            <a href="index.html" class="btn"> Sign out <i class="icofont-logout"></i></a>
                        </div>


                    </ul>
                </div>
            </div>
            <!-- End Sidemenu -->
            <!-- Start Main Content -->
            <div class="col-lg-9">
                <section class="home-section">

                    <div class="row">
                        <div class="col-lg-8">
                            <div class="home-title">
                                <h1>Notifications</h1>
                            </div>
                        </div>
                        <div class="col-lg-4" style="transform: translateY(26px);">
                            <div class="search">
                                <input type="text" class="input" placeholder="Search Notifications" onmouseout="this.value =''; this.blur();">
                                <a class="button" type="submit"><i class="icofont-search-2"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Start Notifications Listing -->
                    <section class="notification">
                        <div class="container">
                            <div class="row">

                                <!-- Start Single Notifications Listing -->
                                <div class="col-lg-12">
                                    <div class="single-notification">

                                        <div class="icon">
                                            <img src="img/favicon.png" alt="logo">
                                        </div>

                                        <div class="notification-content">
                                            <span>New from CappyPop</span>
                                            <h4>Recipe Blog</h4>

                                            <p>Boba tea, also known as bubble tea, is a delightful drink that has taken the world by storm. Originating from Taiwan, this unique beverage combines tea, milk, and chewy tapioca pearls.</p>

                                        </div>

                                        <button class="close">
                                            <i class="icofont-ui-delete"></i>

                                        </button>

                                    </div>
                                </div>
                                <!-- End Single Notifications Listing -->
                                <!-- Start Single Notifications Listing -->
                                <div class="col-lg-12">
                                    <div class="single-notification">

                                        <div class="icon">
                                            <img src="img/favicon.png" alt="logo">
                                        </div>

                                        <div class="notification-content">
                                            <span>New from CappyPop</span>
                                            <h4>Recipe Blog</h4>

                                            <p>Boba tea, also known as bubble tea, is a delightful drink that has taken the world by storm. Originating from Taiwan, this unique beverage combines tea, milk, and chewy tapioca pearls.</p>

                                        </div>

                                        <button class="close">
                                            <i class="icofont-ui-delete"></i>

                                        </button>

                                    </div>
                                </div>
                                <!-- End Single Notifications Listing -->
                                <!-- Start Single Notifications Listing -->
                                <div class="col-lg-12">
                                    <div class="single-notification">

                                        <div class="icon">
                                            <img src="img/favicon.png" alt="logo">
                                        </div>

                                        <div class="notification-content">
                                            <span>New from CappyPop</span>
                                            <h4>Recipe Blog</h4>

                                            <p>Boba tea, also known as bubble tea, is a delightful drink that has taken the world by storm. Originating from Taiwan, this unique beverage combines tea, milk, and chewy tapioca pearls.</p>

                                        </div>

                                        <button class="close">
                                            <i class="icofont-ui-delete"></i>

                                        </button>

                                    </div>
                                </div>
                                <!-- End Single Notifications Listing -->


                            </div>
                        </div>

                    </section>
                    <!-- End Notifications Listing -->

                    <div class="col-lg-10 offset-lg-1 col-12">
                        <img src="img/illustration/notification.png" width="650">
                    </div>


                </section>
            </div>

        </div>
    </div>
</section>

