@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CappypopMVC.Models.DatabaseModels.Products
@{
    ViewData["Title"] = "Details";
}
<section class="product-detail section">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="product-left">
					<img src="/img/boba-detail-img.png" alt="boba">
				</div>
			</div>

			<div class="col-lg-6">
				<div class="product-right">
					<form asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.productid" class="product-info">

						<div class="info-detail">
							<p>@Html.DisplayFor(model=> model.Description)</p>
							<h2>@Html.DisplayFor(model=> model.Productname)</h2>
							<h3>@Html.DisplayFor(model => model.Price)đ</h3>
							<h4><i class="icofont-delivery-time"></i>Fast Delivery<i class="icofont-ui-timer"></i>Best taste within 20 mins</h4>
						</div>

						<div class="product-select">
							<div class="row">
								<div class="col-lg-6">
									<div class="single-select">
										<h5>Size:</h5>
										<select name="size" class="nice-select cart-form-select">
											<option value="1">S</option>
											<option value="2">M</option>
											<option value="3">L</option>
										</select>
									</div>
								</div>

								<div class="col-lg-6">
									<div class="single-select">
										<h5>Quantity:</h5>

										<button type="button" class="btn px-2"
												onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
											<i class="icofont-minus"></i>
										</button>

										<input min="0" name="quantity" value="2" type="number"
											   class="nice-select cart-form-select" style="width: 80px;" />

										<button type="button" class="btn px-2"
												onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
											<i class="icofont-plus"></i>
										</button>

									</div>

								</div>

								<div class="col-lg-6">
									<div class="single-select">
										<h5>Sugar:</h5>
										<select name="sugar" class="nice-select cart-form-select">
											<option value="10">10%</option>
											<option value="20">20%</option>
											<option value="50">50%</option>
										</select>
									</div>
								</div>

								<div class="col-lg-6">
									<div class="single-select">
										<h5>Ice:</h5>
										<select name="ice" class="nice-select cart-form-select">
											<option value="10">10%</option>
											<option value="20">20%</option>
											<option value="50">50%</option>
										</select>
									</div>
								</div>

								<div class="col-lg-12">
									<div class="single-select">
										<h5>Topping:</h5>
										<select name="topping" class="nice-select cart-form-select">
											<option value="Black pearls">Black pearls</option>
											<option value="Grass Jelly">Grass Jelly</option>
											<option value="Egg Pudding">Egg Pudding</option>
											<option value="Cheese Foam">Cheese Foam</option>
										</select>
									</div>
								</div>

							</div>

						</div>

						<button type="submit" class="btn">
							Add to Cart
						</button>

					</form>
				</div>
			</div>


		</div>

	</div>

	</div>

</section>

<!--/ End Boba Detail Page -->
<!-- Start Fun-facts -->
<div id="fun-facts" class="fun-facts section" style="background-color: var(--primary-bg-color);">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>How does it work</h2>
					<img src="img/favicon.png" alt="#" width="50" height="50">
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Fun -->
				<div class="single-fun">
					<img src="img/Icons.png" alt="logo" width="125" height="170">
					<div class="content">
						<span>Place your order</span>
						<p>Check over hundreds of menus to pick your favorite drinks</p>
					</div>
				</div>
				<!-- End Single Fun -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Fun -->
				<div class="single-fun">
					<img src="img/Icons-1.png" alt="logo" width="125" height="170">
					<div class="content">
						<span>Select location</span>
						<p>Choose the location where your drinks will be delivered</p>
					</div>
				</div>
				<!-- End Single Fun -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Fun -->
				<div class="single-fun">
					<img src="img/Icons-2.png" alt="logo" width="125" height="170">
					<div class="content">
						<span>Pay advanced</span>
						<p>It's quick, safe, and simple. Select several methods of payment</p>
					</div>
				</div>
				<!-- End Single Fun -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Fun -->
				<div class="single-fun">
					<img src="img/Icons-3.png" alt="logo" width="125" height="170">
					<div class="content">
						<span>Enjoy</span>
						<p>Bobas are made and delivered directly to your home.</p>
					</div>
				</div>
				<!-- End Single Fun -->
			</div>
		</div>
	</div>
</div>
<!--/ End Fun-facts -->
<!-- Card Boba -->
<section class="section-products">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-md-8 col-lg-10">
				<div class="header">

					<h2>You May Also Like</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">

					<div class="part-1">

						<img src="/img/boba-img/boba.png" class="product-img">

						<ul>
							<li><a href="view-detail-boba.html"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Mint Boba</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-3.png" class="product-img">

						<ul>
							<li><a href="view-detail-boba.html"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Pink Machitto Black Pearl</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-4.png" class="product-img">
						<ul>
							<li><a href="view-detail-boba.html"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Orange Favour Milk Boba</h3>

						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-2.png" class="product-img">

						<ul>
							<li><a href="view-detail-boba.html"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Brow Chocolate Sugar</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- End Card Boba -->
