{
    ViewData["Title"] = "Boba";
}
<!-- Slider Area -->
<section class="slider">
	<div class="hero-slider">
		<!-- Start Single Slider -->
		<div class="single-slider" style="background-image:url(/img/header-boba.png')">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="text" style="margin-top: -30px ;">
							<h1><span2>Enjoy Your </span2>CoffeeBoba<span2> for Energetic days</span2></h1>
						</div>
						<div class="text">
							<div class="button" style="margin-top: 10px;">
								<a href="boba.html" class="btn">Get your Boba now</a>

							</div>
						</div>


					</div>

					<div class="col-lg-5">
						<div class="text">
							<p>
								<img src="/img/img-boba.png" alt="">
							<p>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Single Slider -->
		<!-- Start Single Slider -->
		<div class="single-slider" style="background-image:url(/img/header-boba.png')">
			<div class="container">
				<div class="row" style="display: flex">
					<div class="col-lg-7">
						<div class="text" style="margin-top: -30px ;">
							<h1><span2>Enjoy Your </span2>CoffeeBoba<span2> for Energetic days</span2></h1>
							<p>Our new Coffee Boba to boost your productivity and build your mood in the morning</p>
						</div>
					</div>

					<div class="col-lg-5">
						<div class="text">
							<p>
								<img src="/img/img-boba.png" alt="">
							<p>

						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Start End Slider -->

	</div>
</section>
<!--/ End Slider Area -->
<!-- Card Boba -->

<section class="section-products" style="margin-bottom: -300px;">
	<div class="container" style="	position: relative;
			transform: translateY(-260px);
			z-index:9;">
		<div class="row">
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">

					<div class="part-1">

						<img src="/img/boba-img/boba.png" class="product-img">

						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Mint Boba</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-3.png" class="product-img">

						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Pink Machitto Black Pearl</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-4.png" class="product-img">
						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Orange Favour Milk Boba</h3>

						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>


		</div>

	</div>
</section>

<!-- End Card Boba -->
<!-- Start Filter -->
<section class="portfolio section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Variety of Boba Flavors</h2>
					<img src="/img/favicon.png" alt="#" width="50" height="50">
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-12">
				<div class="owl-carousel portfolio-slider">
					<div class="single-pf">
						<img src="/img/boba-img/filter-chocolate.png" alt="#">
						<a href="boba.html" class="btn">Cacao-Chocolate</a>
					</div>
					<div class="single-pf">
						<img src="/img/boba-img/filter-matcha.png" alt="#">
						<a href="boba.html" class="btn">Matcha-Green Tea</a>
					</div>
					<div class="single-pf">
						<img src="/img/boba-img/filter-coffee.png" alt="#">
						<a href="boba.html" class="btn">Latte-Coffee Favour</a>
					</div>
					<div class="single-pf">
						<img src="/img/boba-img/filter-tapico.png" alt="#">
						<a href="boba.html" class="btn">Tapioca Pearl Drinks</a>
					</div>
					<div class="single-pf">
						<img src="/img/boba-img/filter-unique.png" alt="#">
						<a href="boba.html" class="btn">Unique Taste</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End Fitler -->
<!-- Card Boba -->

<section class="section-products">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-md-8 col-lg-10">
				<div class="header">
					<h3>The Most Loving</h3>
					<h2>Craving some chewing Pearls? Get Yours Today</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">

					<div class="part-1">

						<img src="/img/boba-img/boba.png" class="product-img">

						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Mint Boba</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-3.png" class="product-img">

						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Pink Machitto Black Pearl</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-4.png" class="product-img">
						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Orange Favour Milk Boba</h3>

						<h4 class="product-price">$49.99</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-2.png" class="product-img">

						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Brow Chocolate Sugar</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<!-- End Card Boba -->
<!-- Start Contact Us -->
<section class="contact-us section">
	<div class="container">
		<div class="contact-info">
			<div class="row align-items-center">
				<!-- single-info -->
				<div class="col-lg-4 col-12 ">
					<div class="single-info">
						<div class="content">
							<i class="icofont-food-cart"></i>
							<h3>Today 8:00am - 10:00pm</h3>
							<p>Working time</p>
						</div>
					</div>
				</div>
				<!--/End single-info -->
				<!-- single-info -->
				<div class="col-lg-4 col-12 ">
					<div class="single-info">

						<div class="content">
							<i class="icofont-google-map"></i>
							<h3>Hanoi Architecture University</h3>
							<p>Our Group 9</p>
						</div>
					</div>
				</div>
				<!--/End single-info -->
				<!-- single-info -->
				<div class="col-lg-4 col-12 ">
					<div class="single-info">

						<div class="content">
							<i class="icofont-ui-call"></i>
							<h3>21CDP2</h3>
							<p>Our Help & Support are here with you</p>
						</div>
					</div>
				</div>
				<!--/End single-info -->
			</div>
		</div>
	</div>
</section>
<!--/ End Contact Us -->
<!-- Second Card Boba -->

<section class="section-products">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-md-8 col-lg-10">
				<div class="header">

					<h2>All Boba Menu</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">

					<div class="part-1">

						<img src="/img/boba-img/boba.png" class="product-img">

						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Mint Boba</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-2.png" class="product-img">

						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Brow Chocolate Sugar</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-3.png" class="product-img">

						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Pink Machitto Black Pearl</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-4.png" class="product-img">
						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Orange Favour Milk Boba</h3>

						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-2.png" class="product-img">

						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Brow Chocolate Sugar</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>

			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba.png" class="product-img">
						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Orange Favour Milk Boba</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-2.png" class="product-img">
						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Brow Chocolate Sugar</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-4.png" class="product-img">

						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Matcha Mint Boba</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-2.png" class="product-img">
						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Brow Chocolate Sugar</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-3.png" class="product-img">
						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Pink Machitto Black Pearl</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-3.png" class="product-img">
						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Pink Machitto Black Pearl</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">

					<div class="part-1">

						<img src="/img/boba-img/boba.png" class="product-img">

						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Mint Boba</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
		</div>
	</div>
</section>

<!-- End Secoond Card Boba -->
<!-- Start Call to action -->
<section class="call-action overlay" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12 col-12">
				<div class="content">

					<h2>Join us and Create <span>Sweet Memories</span>  Together!</h2>

					<div class="button">
						<a href="aboutus.html" class="btn">Learn more About Us</a>
						<a href="#" class="btn second"><i class="icofont-facebook-messenger"></i> Contact now <i class="fa fa-long-arrow-right"> </i></a>
					</div>
				</div>
			</div>


		</div>
	</div>
</section>
<!--/ End Call to action -->