@{
	ViewData["Title"] = "Home Page";
}

<!-- Slider Area -->

<section class="slider">
	<div class="hero-slider">

		<!-- Start Single Slider -->
		<div class="single-slider" style="background-image:url('img/slider1.png')">

			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="text" style="display: flex;">
							<h1>Are You <span>Ready</span> To POP?</h1>
						</div>

						<div class="button">
							<a href="boba.html" class="btn">Get your Boba now</a>
							<a href="aboutus.html" class="btn primary">Learn more About Us</a>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- End Single Slider -->
		<!-- Start Single Slider -->
		<div class="single-slider" style="background-image:url('img/slider2.png')">
			<div class="container">

				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">

						<div class="button" style="margin-top: 280px;">
							<a href="boba.html" class="btn">Get your Boba now</a>
							<a href="aboutus.html" class="btn primary">About Us</a>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- End Single Slider -->
		<!-- Start Single Slider -->
		<div class="single-slider" style="background-image:url('img/slider3.png')">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">

						<div class="button" style="margin-top: 280px;">
							<a href="boba.html" class="btn">Get your Boba now</a>
							<a href="aboutus.html" class="btn primary">About Us</a>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- End Single Slider -->
	</div>
</section>
<!--/ End Slider Area -->
<!-- Card Boba -->

<section class="section-products">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-md-8 col-lg-10">
				<div class="header">
					<h3>The Most Loving</h3>
					<h2>Craving some chewing Pearls? Get Yours Today</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">

					<div class="part-1">

						<img src="/img/boba-img/boba.png" class="product-img">
						class="nav-link text-dark" asp-area="" asp-controller="Boba" asp-action="Index">Boba</a>
						<ul>
							<li><a asp-action= "AddToCart"asp-controller="Cart" asp-route-id="a." ><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Mint Boba</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-3.png" class="product-img">

						<ul>
							<li><a href="view-detail-boba.html"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Pink Machitto Black Pearl</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-4.png" class="product-img">
						<ul>
							<li><a href="view-detail-boba.html"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Orange Favour Milk Boba</h3>

						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-2.png" class="product-img">

						<ul>
							<li><a href="view-detail-boba.html"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Brow Chocolate Sugar</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<!-- End Card Boba -->
<!-- Start Feautes -->
<section class="Feautes section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Cappy Pop, your go-to destination for the best bubble tea</h2>
					<img src="img/favicon.png" alt="#" width="50" height="50">
					<p>Explore our menu to find a wide variety of delicious bubble tea options. </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-12">
				<!-- Start Single features -->
				<div class="single-features">
					<div class="signle-icon">
						<i class="icofont-food-cart"></i>
					</div>
					<h3>Best Bubble Tea Near Me</h3>
					<p>Crafted with premium ingredients and bursting with unique flavors.</p>
				</div>
				<!-- End Single features -->
			</div>
			<div class="col-lg-4 col-12">
				<!-- Start Single features -->
				<div class="single-features">
					<div class="signle-icon">
						<i class="icofont-soft-drinks"></i>
					</div>
					<h3>Freshly Made Boba</h3>
					<p>Explore our menu to find a wide variety of delicious bubble tea options. </p>
				</div>
				<!-- End Single features -->
			</div>
			<div class="col-lg-4 col-12">
				<!-- Start Single features -->
				<div class="single-features last">
					<div class="signle-icon">
						<i class="icofont-vehicle-delivery-van"></i>
					</div>
					<h3>Delivery For You</h3>
					<p>Enjoy our delicious beverages delivered right to your doorstep</p>
				</div>
				<!-- End Single features -->
			</div>
		</div>
	</div>
</section>
<!--/ End Feautes -->
<!-- Second Slider Area -->
<section class="slider">
	<div class="hero-slider">

		<!-- Start Single Slider -->
		<div class="single-slider" style="background-image:url('img/slidedes.png')">

			<div class="container">
				<div class="row">

					<div class="col-lg-5">

						<h1><img src="img/slidedes1.png" alt="boba"></h1>

					</div>

					<div class="col-lg-3">

						<h1><img src="img/Bobabrown.png" alt="boba"></h1>

					</div>

					<div class="col-lg-4">

						<div class="button">
							<a href="boba.html" class="btn">Get your Boba now</a>
						</div>

						<img src="img/logo.png" alt="logo" width="500" height="140">


					</div>

				</div>
			</div>
		</div>
		<!-- End Single Slider -->
		<!-- Start Single Slider -->
		<div class="single-slider" style="background-image:url('img/slidedes.png')">

			<div class="container">
				<div class="row">

					<div class="col-lg-5">

						<h1><img src="img/slidedes2.png" alt="boba"></h1>

					</div>

					<div class="col-lg-3">

						<h1><img src="img/Bobapink.png" alt="boba"></h1>

					</div>

					<div class="col-lg-4">

						<div class="button">
							<a href="boba.html" class="btn">Get your Boba now</a>
						</div>

						<img src="img/logo.png" alt="logo" width="500" height="140">


					</div>

				</div>
			</div>
		</div>
		<!-- End Single Slider -->
		<!-- Start Single Slider -->
		<div class="single-slider" style="background-image:url('img/slidedes.png')">

			<div class="container">
				<div class="row">

					<div class="col-lg-5">

						<h1><img src="img/slidedes3.png" alt="boba"></h1>

					</div>

					<div class="col-lg-3">

						<h1><img src="img/Bobayellow.png" alt="boba"></h1>

					</div>

					<div class="col-lg-4">

						<div class="button">
							<a href="boba.html" class="btn">Get your Boba now</a>
						</div>

						<img src="img/logo.png" alt="logo" width="500" height="140">


					</div>

				</div>
			</div>
		</div>
		<!-- End Single Slider -->
	</div>
</section>
<!--/ End Second Slider Area -->
<!-- Second Card Boba -->

<section class="section-products">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-md-8 col-lg-10">
				<div class="header">

					<h2>Popular Boba</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">

					<div class="part-1">

						<img src="/img/boba-img/boba.png" class="product-img">

						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Mint Boba</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-3.png" class="product-img">

						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Pink Machitto Black Pearl</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-4.png" class="product-img">
						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Orange Favour Milk Boba</h3>

						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-2.png" class="product-img">

						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Brow Chocolate Sugar</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba.png" class="product-img">
						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Orange Favour Milk Boba</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-4.png" class="product-img">

						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Matcha Mint Boba</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-2.png" class="product-img">
						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Brow Chocolate Sugar</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
			<!-- Single Product -->
			<div class="col-md-6 col-lg-4 col-xl-3">
				<div class="single-product">
					<div class="part-1">

						<img src="/img/boba-img/boba-3.png" class="product-img">
						<ul>
							<li><a href="#"><i class="icofont-cart"></i></a></li>

						</ul>
					</div>
					<div class="part-2">
						<h3 class="product-title">Pink Machitto Black Pearl</h3>
						<h4 class="product-price">38.000đ</h4>
					</div>
				</div>
			</div>
		</div>

		<div class="row justify-content-center text-center">
			<div class="col-md-8 col-lg-10">
				<div class="header">
					<a href="#" class="button">See more Boba</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- End Secoond Card Boba -->
<!-- Start Fun-facts -->
<div id="fun-facts" class="fun-facts section overlay">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Fun -->
				<div class="single-fun">
					<img src="img/Icons.png" alt="logo" width="125" height="170">
					<div class="content">
						<span>Place your order</span>
						<p>Check over hundreds of menus to pick your favorite drinks</p>
					</div>
				</div>
				<!-- End Single Fun -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Fun -->
				<div class="single-fun">
					<img src="img/Icons-1.png" alt="logo" width="125" height="170">
					<div class="content">
						<span>Select location</span>
						<p>Choose the location where your drinks will be delivered</p>
					</div>
				</div>
				<!-- End Single Fun -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Fun -->
				<div class="single-fun">
					<img src="img/Icons-2.png" alt="logo" width="125" height="170">
					<div class="content">
						<span>Pay advanced</span>
						<p>It's quick, safe, and simple. Select several methods of payment</p>
					</div>
				</div>
				<!-- End Single Fun -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Fun -->
				<div class="single-fun">
					<img src="img/Icons-3.png" alt="logo" width="125" height="170">
					<div class="content">
						<span>Enjoy</span>
						<p>Bobas are made and delivered directly to your home.</p>
					</div>
				</div>
				<!-- End Single Fun -->
			</div>
		</div>
	</div>
</div>
<!--/ End Fun-facts -->
<!-- Start Blog Area -->
<section class="blog section" id="blog">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Your Go-to Resource for All Things Bubble Tea.</h2>
					<img src="img/favicon.png" alt="favicon" width="50" height="50">
					<p>Stay updated and discover new bubble tea recipes on our blog</p>
				</div>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Single Blog -->
				<div class="single-news">
					<div class="news-head">
						<img src="img/blogs/blog1.png" alt="#">
					</div>
					<div class="news-body">
						<div class="news-content">
							<div class="tag">Article</div>
							<h2><a href="blog-single.html">What is Boba Tea? A Beginner's Guide</a></h2>
							<p class="text">The freshest ingredients for you every day</p>
						</div>
					</div>
				</div>
				<!-- End Single Blog -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Single Blog -->
				<div class="single-news">
					<div class="news-head">
						<img src="img/blogs/blog3.png" alt="#">
					</div>
					<div class="news-body">
						<div class="news-content">
							<div class="tag">Blog</div>
							<h2><a href="blog-single.html">A Day in the Life of a Boba Tea Barista</a></h2>
							<p class="text">Ever wondered what it takes to run a successful boba tea shop?</p>
						</div>
					</div>
				</div>
				<!-- End Single Blog -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Single Blog -->
				<div class="single-news">
					<div class="news-head">
						<img src="img/blogs/blog4.png" alt="#">
					</div>
					<div class="news-body">
						<div class="news-content">
							<div class="tag">Recipes</div>
							<h2><a href="blog-single.html">Homemade Bubble Tea</a></h2>
							<p class="text">Step-by-step instructions for making traditional milk tea with tapioca pearls</p>
						</div>
					</div>
				</div>
				<!-- End Single Blog -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Single Blog -->
				<div class="single-news">
					<div class="news-head">
						<img src="img/blogs/blog2.png" alt="#">
					</div>
					<div class="news-body">
						<div class="news-content">
							<div class="tag">Holidays & Events</div>
							<h2><a href="blog-single.html">Holiday Season with Festive Boba Tea Specials!</a></h2>
							<p class="text">The holiday season is upon us, and what better way to celebrate than with some festive boba tea?</p>
						</div>
					</div>
				</div>
				<!-- End Single Blog -->
			</div>

		</div>
	</div>
</section>
<!-- End Blog Area -->
<!-- Start Community Video -->
<section class="why-choose section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Our Commitment to Sustainability</h2>
					<img src="img/favicon.png" alt="#" width="50" height="50">
					<p>Eco-Friendly Practices at Our Shop. CappyPop's effors to be environmentally friendly</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-12">
				<!-- Start Choose Left -->
				<div class="choose-left">
					<h3>Community & Environment!</h3>
					<p>Our commitment to eco-friendly practices includes using biodegradable straws and offering reusable cups.</p>
					<p>And Supporting Local: How We Source Our Ingredients: Partnerships with local suppliers and farmers.</p>
					<div class="row">
						<div class="col-lg-6">
							<ul class="list">
								<li><i class="icofont-ui-play"></i>Community & Environment! </li>
								<li><i class="icofont-ui-play"></i>Eco-friendly practices</li>
								<li><i class="icofont-ui-play"></i>Biodegradable straws and reusable cups.</li>
							</ul>
						</div>
						<div class="col-lg-6">
							<ul class="list">
								<li><i class="icofont-ui-play"></i>Supporting Local</li>
								<li><i class="icofont-ui-play"></i>Partnerships with local suppliers</li>

							</ul>
						</div>
					</div>
				</div>
				<!-- End Choose Left -->
			</div>
			<div class="col-lg-6 col-12">
				<!-- Start Choose Rights -->
				<div class="choose-right">
					<div class="video-image">
						<!-- Video Animation -->
						<div class="promo-video">
							<div class="waves-block">
								<div class="waves wave-1"></div>
								<div class="waves wave-2"></div>
								<div class="waves wave-3"></div>
							</div>
						</div>
						<!--/ End Video Animation -->
						<a href="https://www.youtube.com/watch?v=nD2k199_HBM&pp=ygUKYnViYmxlIHRlYQ%3D%3D" class="video video-popup mfp-iframe"><i class="icofont-ui-play"></i></a>
					</div>
				</div>
				<!-- End Choose Rights -->
			</div>
		</div>
	</div>
</section>
<!--/ End Community Video -->
<!-- Start Call to action -->
<section class="call-action overlay" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12 col-12">
				<div class="content">

					<h2>Join us and Create <span>Sweet Memories</span>  Together!</h2>

					<div class="button">
						<a href="aboutus.html" class="btn">Learn more About Us</a>
						<a href="#" class="btn second"><i class="icofont-facebook-messenger"></i> Contact now <i class="fa fa-long-arrow-right"> </i></a>
					</div>
				</div>
			</div>


		</div>
	</div>
</section>
<!--/ End Call to action -->