@{
    ViewData["Title"] = "Term";
}
<!-- Slider Area -->
<section class="slider">
    <div class="hero-slider">
        <!-- Start Single Slider -->
        <div class="single-slider" style="background-image:url(/img/termslider.png)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="text">
                            <h1><span2>Terms & Conditions</span2></h1>
                            <p>We are committed to providing you with the best possible experience.</p>
                            <p>These terms outline the rules and guidelines To ensure clarity and protect both our customers and our business, for using our website, purchasing our products, and safeguarding your personal information.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
        <!-- Start Single Slider -->
        <div class="single-slider" style="background-image:url('/img/termslider2.png')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="text">
                            <h1><span2>Terms & Conditions</span2></h1>
                            <p>We are committed to providing you with the best possible experience.</p>
                            <p>These terms outline the rules and guidelines To ensure clarity and protect both our customers and our business, for using our website, purchasing our products, and safeguarding your personal information.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start End Slider -->

    </div>
</section>
<!--/ End Slider Area -->
<!-- Start Header card Area -->
<section class="schedule">
    <div class="container">
        <div class="schedule-inner">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 ">
                    <!-- single-schedule -->
                    <div class="single-schedule first">
                        <div class="inner">

                            <div class="single-content">

                                <h4>Acceptance of Terms</h4>
                                <p>By using our website, you agree to these Terms and Conditions. </p>
                                <p>If you do not agree, please do not use our site. </p>
                                <p>We reserve the right to modify these terms at any time, and your continued use of the site signifies your acceptance of any changes.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- single-schedule -->
                    <div class="single-schedule middle">
                        <div class="inner">

                            <div class="single-content">

                                <h4>Use of the Website</h4>
                                <p>If you create an account, you are responsible for maintaining the confidentiality of your account information. </p>
                                <p>You agree not to engage in prohibited activities, including but not limited to hacking, spamming, fraudulent behavior and posting inappropriate content.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-12">
                    <!-- single-schedule -->
                    <div class="single-schedule last">
                        <div class="inner">

                            <div class="single-content">

                                <h4>Product Information</h4>
                                <p>We strive to provide accurate product descriptions and pricing. </p>
                                <p>However, errors may occur, and we reserve the right to correct them. </p>
                                <p>Product availability is subject to change without notice. Please be aware of potential allergens in our products.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-12">
                    <!-- single-schedule -->
                    <div class="single-schedule last">
                        <div class="inner">

                            <div class="single-content">

                                <h4>Intellectual Property</h4>
                                <p>All content on our site, including and not limited to logos, graphics, and text, is owned by Cappy Pop.</p>
                                <p>You are granted a limited, non-exclusive license to use the site for personal, non-commercial purposes. Unauthorized use of our content is prohibited.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/End Header card Area -->
<!-- Start Privacy Policies -->
<section class="privacy section">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="section-title" style="margin: -20px 0 ;">
                    <h2>Privacy Policies</h2>
                    <p>We collect and use your data as described in our Privacy Policy. By using our site, you consent to this collection and use of data.</p>
                </div>
                <img src="img/privacy.png" alt="privacy" width="1400">
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <h4>How We Protect Your Information<i class="icofont-arrow-right"></i></h4>

                <!-- Start Single Service -->
                <div class="single-service">
                    <p>We implement a variety of security measures to maintain the safety of your personal information. These measures include:</p>
                    <p>- Secure Socket Layer (SSL) technology to encrypt payment information</p>
                    <p>- Regular malware scanning</p>
                    <p>- Restricted access to personal information to authorized personnel only</p>
                    <p>- Regular review and updating of security practices.</p>
                </div>
                <!-- End Single Service -->
            </div>

            <div class="col-lg-6 col-md-6 col-12">
                <img src="img/privacy2.png" alt="privacy" width="1400" style="border-radius: 24px;">
            </div>


            <div class="col-lg-6 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <p>We do not sell, trade, or otherwise transfer to outside parties your personal information, except in the following circumstances:</p>
                    <p>- To trusted third parties who assist us in operating our website, conducting our business, or servicing you, provided they agree to keep this information confidential</p>
                    <p>- To comply with legal obligations, enforce our site policies, or protect ours or others' rights, property, or safety</p>
                </div>
                <!-- End Single Service -->
            </div>

            <div class="col-lg-6 col-md-6 col-12">
                <h4><i class="icofont-arrow-left"></i>Third-Party Services and Uses</h4>
                <!-- Start Single Service -->
                <div class="single-service">

                    <p>We may use third-party service providers to help us operate our business and the site or administer activities on our behalf. </p>
                    <p>These third parties may have access to your personal information, but only to perform specific tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>
                </div>
                <!-- End Single Service -->
            </div>

            <div class="col-lg-6 col-md-6 col-12">
                <h4>Cookies and Tracking Technologies<i class="icofont-arrow-right"></i></h4>

                <!-- Start Single Service -->
                <div class="single-service">
                    <p>Our site may use cookies and similar tracking technologies to enhance your experience. </p>
                    <p>Cookies are small files that a site or its service provider transfers to your computer's hard drive through your web browser (if you allow) that enables the site's systems to recognize your browser and capture and remember certain information.</p>
                    <p> You can choose to disable cookies through your browser settings. However, disabling cookies may affect the functionality of our site.</p>
                </div>
                <!-- End Single Service -->
            </div>

            <div class="col-lg-6 col-md-6 col-12">
                <img src="img/privacy2.png" alt="privacy" width="1400" style="border-radius: 24px;">
            </div>



        </div>
    </div>
</section>
<!--/ End Privacy Policies -->
<!-- Start Your Right Policies -->
<section class="privacy section" style="margin-top: -200px ;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <h2>Your Rights</h2>


                <!-- Start Single Service -->
                <div class="single-service">

                    <p>You have the following rights regarding your personal information:</p>
                    <p>-Access: You can request access to the personal information we hold about you.</p>
                    <p>-Correction: You can request correction of any incorrect or incomplete personal information.</p>
                    <p>-Deletion: You can request deletion of your personal information, subject to certain legal obligations.</p>
                    <p>-Objection: You can object to the processing of your personal information in certain circumstances.</p>
                    <p>-Restriction: You can request restriction of the processing of your personal information in certain circumstances.</p>
                </div>
                <!-- End Single Service -->
            </div>


            <div class="col-lg-6 col-md-6 col-12">
                <h2 style="margin-left: 40px;">Children's Privacy</h2>

                <!-- Start Single Service -->
                <div class="single-service">
                    <p>Our website is not intended for children under the age of 13. </p>
                    <p>We do not knowingly collect personal information from children under 13. </p>
                    <p>If we become aware that we have inadvertently received personal information from a child under 13, we will delete such information from our records.</p>
                </div>
                <!-- End Single Service -->
            </div>

        </div>
    </div>
</section>
<!--/ End Your Right Policies -->
<!-- Start Header card Area -->
<section class="schedule" style="margin-top: 100px;">
    <div class="container">
        <div class="schedule-inner">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 ">
                    <!-- single-schedule -->
                    <div class="single-schedule first">
                        <div class="inner">

                            <div class="single-content">

                                <h4>Changes to This Privacy Policy</h4>
                                <p>We may update this Privacy Policy from time to time. </p>
                                <p>We will notify you of any changes by posting the new Privacy Policy on this page and updating the effective date. </p>
                                <p>You are advised to review this Privacy Policy periodically for any changes.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- single-schedule -->
                    <div class="single-schedule middle">
                        <div class="inner">

                            <div class="single-content">

                                <h4>Disclaimer of Warranties</h4>
                                <p>Our  website and its content are provided on an "as is" and "as available" basis without warranties of any kind.</p>
                                <p>We do not guarantee the site will be error-free, uninterrupted, or secure.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-12">
                    <!-- single-schedule -->
                    <div class="single-schedule last">
                        <div class="inner">

                            <div class="single-content">

                                <h4>Limitation of Liability and Governing Law</h4>
                                <p>Cappy Pop shall not be liable for any damages arising from the use of our site. </p>
                                <p>This includes direct, indirect, incidental, punitive, and consequential damages.</p>
                                <p>These terms and conditions are governed by the laws of Group 9. Any disputes will be resolved in the courts of Group 9 - 21CDP2.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-12">
                    <!-- single-schedule -->
                    <div class="single-schedule last">
                        <div class="inner">

                            <div class="single-content">

                                <h4>Contact Us</h4>
                                <p>If you have any questions or concerns about the Term & Conditions and this Privacy Policy, please contact us at:</p>
                                <p>
                                    Hanoi Architecture University@CappyPop.HAU
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/End Header card Area -->
